<a href="https://colab.research.google.com/github/emreKanarya/-Zekasi-ve-Veri-Madenciligi/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
x=pd.Series([1,2,3,"Ali"])
b=pd.DataFrame(x)
b

     0
0    1
1    2
2    3
3  Ali

np.nan boşluk bırakıyor liste içerisinde  x=pd.Series([1,2,3,np.nan,"Ali"])

numpy 10 tane ile rastgele dizi oluşturalım bunu dataframe dönüştürelim.

In [ ]:
x=np.random.random(276)
df_r=pd.DataFrame(x)
df_r

       0
0   0.10
1   0.15
2   0.68
3   0.06
4   0.31
..   ...
271 0.93
272 0.64
273 0.95
274 0.35
275 0.71

[276 rows x 1 columns]

Tarih ile ilgili 15 günlük bir periyod oluştursun bize, "d" ile saati yazdırdık. Gün gün ekrana yazdı. Bunu "H" veya yıl için "Y" olarak da yazabilirdik.

In [ ]:
pd.date_range("20220201", periods=15,freq="d")

DatetimeIndex(['2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04',
               '2022-02-05', '2022-02-06', '2022-02-07', '2022-02-08',
               '2022-02-09', '2022-02-10', '2022-02-11', '2022-02-12',
               '2022-02-13', '2022-02-14', '2022-02-15'],
              dtype='datetime64[ns]', freq='D')

Dizi şeklinde matris oluşturacağız 10 satırdan 3 sütundan oluşan.Soldada tarih oluşturacağız.

In [ ]:
tarih=pd.date_range("20220201", periods=10)
df=pd.DataFrame(np.random.rand(10,3),index=tarih,columns=list(["s1","s2","s3"]))
df

                  s1        s2        s3
2022-02-01  0.854392  0.322157  0.126342
2022-02-02  0.501223  0.858354  0.136756
2022-02-03  0.213587  0.504726  0.636899
2022-02-04  0.340830  0.088906  0.737772
2022-02-05  0.345696  0.251416  0.668218
2022-02-06  0.465904  0.103957  0.422800
2022-02-07  0.519593  0.648610  0.541760
2022-02-08  0.241077  0.934220  0.544439
2022-02-09  0.712968  0.530207  0.076100
2022-02-10  0.236777  0.842385  0.954244

In [ ]:
df0=pd.DataFrame(
    {
     "sinif"=pd.Series([1,2]),
    "Ogrenciler"=pd.Series(np.random.random(5)*100)
    }  

)



df0

SyntaxError: ignored

10 kişilik sınıf listesi oluşturun rasgele öğrenci nımarası olsun bir sütun öğrenci 1 sütun isim bir sütun sınav notu olsun, tarih olsun tarihte seri şeklinde olsun. Bunu oluşturun bunu randint ile yap. Rnadint tamsayı üretir.

In [ ]:
df0=pd.DataFrame(
    {
        "ogr_no":pd.Series(np.random.randint(3000,4000,size=5)),
        "isim":pd.Series(["mehmet","ahmet","ali","ayşe","fatma"]),
        "not":pd.Series(np.random.randint(10,100,size=5)),
        "tarih":pd.date_range("20220322",periods=5, freq="d"),
    }
)
df0

   ogr_no    isim  not      tarih
0    3277  mehmet   40 2022-03-22
1    3864   ahmet   93 2022-03-23
2    3779     ali   15 2022-03-24
3    3240    ayşe   42 2022-03-25
4    3817   fatma   60 2022-03-26

In [ ]:
df0=pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20130102"),
        "C":pd.Series(1,index=list(range(4)),dtype="float32"),
        "D":np.array([3]*4,dtype="int32"),
        "E":pd.Categorical(["mehmet","ahmet","ali","ayşe"]),
        "F":"foo",
    }
)
df0

     A          B    C  D       E    F
0  1.0 2013-01-02  1.0  3  mehmet  foo
1  1.0 2013-01-02  1.0  3   ahmet  foo
2  1.0 2013-01-02  1.0  3     ali  foo
3  1.0 2013-01-02  1.0  3    ayşe  foo

calisma.head(2) dersek ilk iki kaydı görürüz
calisma.tail(2) dersek son iki kaydı görürüz
calisma.describe() dersek min, max değişkenler hakkında yani sayısal değerler hakkında fikir veriyor bize.

In [ ]:
df0=pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20130102"),
        "C":pd.Series(1,index=list(range(4)),dtype="float32"),
        "D":np.array([3]*4,dtype="int32"),
        "E":pd.Categorical(["mehmet","ahmet","ali","ayşe"]),
        "F":"foo",
    }
)
df0.head(2)
df0.tail(2)
df0.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

ÖDEV-UYGULAMA-Hafta-5

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
uygulama=pd.DataFrame(
    {
        "Tarih":pd.date_range("20000101",periods=276,freq="m"),
        "Sıcaklık":pd.Series(np.random.randint(0,38, size=276)),
        "Yağış Oranı":pd.Series(np.random.random(276),dtype="float32"),
    }
)
uygulama

         Tarih  Sıcaklık  Yağış Oranı
0   2000-01-31         2         0.32
1   2000-02-29        33         0.94
2   2000-03-31        16         0.65
3   2000-04-30         6         0.90
4   2000-05-31         5         0.00
..         ...       ...          ...
271 2022-08-31        28         0.24
272 2022-09-30         8         0.79
273 2022-10-31         2         1.00
274 2022-11-30        18         0.20
275 2022-12-31        29         0.52

[276 rows x 3 columns]

In [ ]:
uygulama=pd.DataFrame(
    {
        "Tarih":pd.date_range("20000101",periods=276,freq="m"),
        "Sıcaklık":pd.Series(np.random.randint(0,38, size=276)),
        "Yağış Oranı":pd.Series(np.random.random(276),dtype="float32"),
    }
)
uygulama.describe()

       Sıcaklık  Yağış Oranı
count    276.00       276.00
mean      18.59         0.48
std       11.03         0.28
min        0.00         0.00
25%        9.00         0.21
50%       18.50         0.48
75%       28.00         0.71
max       37.00         1.00

In [ ]:
x = ['Karlı','Yağmurlu','Bulutlu','Parcali Bulutlu','Günesli']
cut_bins = [0,3,9,17,24,38]

In [ ]:
uygulama['Hava_Durumu'] = pd.cut(uygulama['Sıcaklık'],bins = cut_bins, labels = x)

In [ ]:
uygulama

         Tarih  Sıcaklık  Yağış Oranı      Hava_Durumu
0   2000-01-31        14         0.73          Bulutlu
1   2000-02-29        20         0.88  Parcali Bulutlu
2   2000-03-31         1         0.84            Karlı
3   2000-04-30        19         0.86  Parcali Bulutlu
4   2000-05-31        30         0.68          Günesli
..         ...       ...          ...              ...
271 2022-08-31        27         0.04          Günesli
272 2022-09-30        37         0.73          Günesli
273 2022-10-31        20         0.64  Parcali Bulutlu
274 2022-11-30         9         0.97         Yağmurlu
275 2022-12-31        22         0.41  Parcali Bulutlu

[276 rows x 4 columns]